<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Sauce Labs Browser Testing" thread-count="5" parallel="tests">
 	
   <test  name="Sauce Chrome">
 	<parameter name="browser" value="chrome"/>
	<parameter name="version" value="95"/>
	<parameter name="platform" value="macOS 11.00"/>
	<parameter name="username" value="oauth-slomochacko242-d2816"/>
	<parameter name="accessKey" value="96322933-d79d-4cc3-bb55-fcf8e756afb4"/>
	
    
    <classes>
      <class name="svc.Sauce_Lab2.SauceTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test  name="Sauce FireFox">
    <parameter name="browser" value="firefox"/>
	<parameter name="version" value="95"/>
	<parameter name="platform" value="Windows 10"/>
    <parameter name="username" value="oauth-slomochacko242-d2816"/>
	<parameter name="accessKey" value="96322933-d79d-4cc3-bb55-fcf8e756afb4"/>
	
    <classes>
      <class name="svc.Sauce_Lab2.SauceTest"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
